.DS_Store
RASD/.DS_Store
RASD/indent.log
RASD/main.aux
RASD/main.fdb_latexmk
RASD/main.fls
RASD/main.log
RASD/main.out
RASD/main.synctex.gz
RASD/main.toc
RASD/Images/.DS_Store
RASD/Images/State Diagrams/.DS_Store
RASD/Sections/Effort spent.aux
RASD/Sections/Formal Analysis using Alloy.aux
RASD/Sections/Introduction.aux
RASD/Sections/Overall Description.aux
RASD/Sections/References.aux
RASD/Sections/Specific Requirements.aux
